
{{#with post}}

<div class="">
    <img src="{{url}}" alt="{{title}}" class="w-full h-64 object-cover">
</div>

<div class="flex flex-col items-center content-center gap-3 w-full p-10">
    <h1 class="text-5xl font-semibold">{{title}}</h1>
    <div class="font-bold text-lg mb-2">Created by {{user.username}}</div>            
    <div class="font-bold text-lg mb-2"><a href="/n/{{subreddit.name}}">/n/{{subreddit.name}}</a></div>
    <p class="text-lg">{{summary}}</p>
    <a href="/posts/{{id}}/delete" class="border px-2 py-3 bg-red-700 text-white rounded hover:cursor-pointer">Delete</a>

    <form action="/comments/new" method="post" class="">
        <input type="hidden" name="postId" value="{{id}}">
        <input type="text" name="content" id="content" class="border p-3">
        <input type="submit" value="Comment" class="border p-3">
    </form>
    <div>
        {{#each comments}}
            {{#unless parentCommentId}}
                <div class="border p-3">
                    <p class="text-2xl font-semibold">{{content}}</p>
                    <p class="text-xs font-thin">{{user.username}}</p>
                    <p class="text-xs font-thin">{{createdAt}}</p>

                    <div>

                    </div>

                    <p class="text-xs font-thin">
                        <span id="comment-{{id}}"
                            class="hover:text-black hover:cursor-pointer text-blue-600 ">
                            Reply
                        </span>

                        <div id="comment-form-{{id}}" class="hidden mt-1">
                            <form action="/comments/new" method="post" class="">
                                <input type="hidden" name="postId" value="{{post.id}}">
                                <input type="hidden" name="parentCommentId" value="{{this.id}}">
                                <input type="text" name="content" id="content" class="border p-2">
                                <input type="submit" value="Reply" class="border p-2">
                            </form>
                        </div>

                        <script>
                            document.getElementById("comment-{{id}}").addEventListener("click", function() {
                                document.getElementById("comment-form-{{id}}").classList.toggle("hidden");
                            });
                        </script>

                        {{#each replies}}
                            <div class="border p-3">
                                <p class="text-2xl font-semibold">{{content}}</p>
                                <p class="text-xs font-thin">{{user.username}}</p>
                                <p class="text-xs font-thin">{{createdAt}}</p>
                            </div>
                        {{/each}}
                    </p>
                </div>
            {{/unless}}
        {{/each}}
    </div>
</div>
{{/with}}