
<div class="grid grid-cols-2 place-items-center">
    {{#each posts}}
        <div class="max-w-sm rounded overflow-hidden shadow-lg p-5">
            <a href="/posts/{{id}}"><img class="w-full" src="{{url}}" alt="{{title}}"></a>
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{title}}</div>
                <div class="font-bold text-lg mb-2"><a href="/n/{{subreddit.name}}">/n/{{subreddit.name}}</a></div>
                <div class="font-bold text-lg mb-2">Created by {{user.username}}</div>            
                <p class="text-gray-700 text-base">
                    {{summary}}
                </p>
                {{!-- upvote and downvote button --}}
                <div>
                    <button data-id="{{id}}"
                        class="vote-up border rounded-lg p-2 bg-blue-500 text-white focus:bg-blue-600">upvote</button>
                    <button data-id="{{id}}"
                        class="vote-down border rounded-lg p-2 bg-blue-500 text-white">downvote</button>
                    <p>{{score}}</p>
                </div>

                
            </div>
        </div>
    {{/each}}
    <script>
        $(document).ready(function() {
            $('.vote-up').click(function(e) {

                const postId = $(this).data('id');
                console.log(postId);
                let url = '/posts/' + postId + '/upvote';
                console.log(url);

                $.ajax({
                    type: 'PUT',
                    url: url,
                    success: function(data) {
                        console.log('voted up!');
                    },
                    error: function(err) {
                        console.log(err.messsage);
                    }
                });
            });

            $('.vote-down').click(function(e) {

                const postId = $(this).data('id');
                console.log(postId);
                let url = '/posts/' + postId + '/downvote';
                console.log(url);

                $.ajax({
                    type: 'PUT',
                    url: url,
                    success: function(data) {
                        console.log('voted down!');
                    },
                    error: function(err) {
                        console.log(err.messsage);
                    }
                });
            });
        });
    </script>
</div>